<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Maratona Full Cycle 3.0 - Desafio 5</title>
    <link rel="icon" href="http://maratona.fullcycle.com.br/static/site/img/logo-top.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: #272727">
<div class="container">
    <div class="row">
        <div class="col-md text-center m-2 p-5" style="color: #ffcd01">
            <h1>Maratona Full Cycle 3.0</h1>
            <h3>Desafio 5 - Endpoint com a programação das lives com Nest.js e SQLite</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md m-2 p-2" style="color: #ffcd01">
            <div class="row text-center">
                <div class="col-md">
                    <h4>
                        <a href="/">Home</a>
                        &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                        <a target="_blank" href="/maratona/api">Api</a>
                    </h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md">
                    <h3>Lista de Lives</h3>
                </div>
            </div>
            <div class="row">
                <table class="table table-sm table-striped table-condensed table-light table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Descrição</th>
                        <th>Tutor</th>
                        <th class="text-center">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#forEach lives}}
                        <tr>
                            <td class="text-center"><a href="{{ url }}" target="_blank">Assistir</a></td>
                            <td>{{ description }}</td>
                            <td>{{ tutor }}</td>
                            <td class="text-center">{{ data }}</td>
                        </tr>
                    {{/forEach}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="float-right" style="color: green">
        <span> Powered by <a href="http://nestjs.com">nestjs.com</a></span>
    </div>
</div>
</body>
</html>